.character-header {
  display: grid;
  grid-template-areas: "nametag details";
  grid-template-columns: 250px 468px min-content;
  grid-template-rows: 140px min-content;

  width: 850px;
  height: 140px;

  background-image: url(images/CharScroll.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.character-header .nametag {
  grid-area: nametag;
  display: inline-block;

  width: 250px;
  margin-left: 60px;
  margin-top: 72px;
}

.character-header input {
  box-sizing: border-box;

  width: 100%;
  height: auto;
}

.character-header input.name {
  vertical-align: middle;
  margin-top: -6px;
  font-size: 20px;
}

.character-header span.name {
  margin-top: 18px;
  margin-left: 28px;
  text-align: left;
}

.character-header .details {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 40px 40px;

  width: 440px;
  min-height: 74px;
  padding: 20px;
  vertical-align: top;
  margin-top: 25px;
  margin-left: 115px;

  background-image: url(images/CharBox.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.character-header .details .labeled-input {
  margin-top: 6px;
}

.character-header .details input {
  font-size: 16px;
  margin-left: -3px;
  width: 140px;
}
